<div class="container">
  <div class="jumbotron">
    <a href="#" class="back">
      <i class="fa fa-long-arrow-left"></i> Back
    </a>
    <h2>
      <img id="user-avatar" src="{{ user.avatar_url }}" alt="{{ user.name }}'s avatar image" />
      {{ title }}

      <small>{{ repo_count }} repositories</small>
    </h2>

    <hr>

    <div class="clearfix"></div>
  </div>
</div>
